// Header
// ---------------------------------
h1 {
  font-size: $base-font-size * 1.8;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1;
}

h2 {
  font-size: $base-font-size * 1.6;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.5;
  margin-top: $base-font-size * 1.8;
}

h3 {
  font-size: $base-font-size * 1.45;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.7;
}

h4 {
  font-size: $base-font-size * 1.30;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.5;
}

h5 {
  font-size: $base-font-size * 1.15;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.5;
}

h6 {
  font-size: $base-font-size * 1;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.25;
}

// Paragraph
// ---------------------------------
p {
  font-size: $base-font-size * 1;
  margin-bottom: $base-font-size * 0.5;
  margin-top: $base-font-size * 1;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: $base-font-size * 0.5;
}

// Small
// ---------------------------------
small {
  font-size: $base-font-size * 0.8;
}

// Link
// ---------------------------------
a {
}

// pre, code
// ---------------------------------
pre, code, kbd, samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  color: $text-link;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: $base-font-size * 0.9;
  letter-spacing: normal;
  line-height: $base-line-height * 0.9;
}

pre {
  background-color: #F0F0F0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: $base-font-size * 0.8;
  margin: 0 0.1rem;
  overflow: scroll;
  padding: 0.2rem 0.4rem;
  vertical-align: text-bottom;
}

pre > code {
}

p > code {
  background-color: #F0F0F0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: $base-font-size * 0.8;
  margin: 0 0.4rem;
  padding: 0.2rem 0.4rem;
  vertical-align: text-bottom;
}

// blockquote
// ---------------------------------
blockquote {
  & > p {
  }
}


// List
// ---------------------------------
ul {
}

ol {
}

ol > li, ul > li {
}

// Table
// ---------------------------------
table {
  border-collapse: collapse;
  border: $border;
  margin-bottom: $base-font-size * 1;
  margin-top: $base-font-size * 0.75;
  padding: 0;
  table-layout: auto;
  width: 100%;

  tr {
    border: 1px solid;
    padding: .35rem;
    text-align: left;
  }

  th {
    padding: .35rem;
  }

  td {
    padding: .625rem;
  }

  thead {
    tr {
    }
    th {
    }
  }

  tbody {
    tr {
    }
    th {
    }
    td {
    }
    th, td {
    }
  }
}

// Horizontal Rule
// ---------------------------------
hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: $border;
}

// Decoration
// ---------------------------------
em {
}

strong {
  font-weight: 700;
}
