// Header
// ---------------------------------
h1 {
  font-size: $base-font-size * 1.6;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 0.75;
}

h2 {
  font-size: $base-font-size * 1.45;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.5;
  margin-top: $base-font-size * 1.5;
}

h3 {
  font-size: $base-font-size * 1.3;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.5;
}

h4 {
  font-size: $base-font-size * 1.15;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.45;
}

h5 {
  font-size: $base-font-size * 1;
  font-weight: bold;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.45;
}

h6 {
  font-size: $base-font-size * 1;
  font-weight: normal;
  margin-bottom: $base-font-size * 0.75;
  margin-top: $base-font-size * 1.25;
}

// Paragraph
// ---------------------------------
p {
  font-size: $base-font-size * 1;
  margin-bottom: $base-font-size * 0.25;
  margin-top: $base-font-size * 0.5;;
}

// Small
// ---------------------------------
small {
  font-size: 80%;
}

// Link
// ---------------------------------
a {
}

// pre, code
// ---------------------------------
pre, code, kbd, samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  color: $text-link;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 90%;
  letter-spacing: normal;
  line-height: 1.4;
}

pre {
  background-color: #F0F0F0;
  box-shadow: #999999 0 0 1px;
  font-size: 0.8em;
  margin: 0 0.1rem;
  overflow: scroll;
  padding: 0.2rem 0.4rem;
  vertical-align: text-bottom;
}

pre > code {
}

p > code {
  background-color: #F0F0F0;
  box-shadow: #999999 0 0 2px;
  font-size: 0.8em;
  margin: 0 0.4rem;
  padding: 0.2rem 0.4rem;
  vertical-align: text-bottom;
}

// blockquote
// ---------------------------------
blockquote {
}

blockquote > p {
}

// List
// ---------------------------------
ul {
}

ol {
}

ol > li, ul > li {
}

// Table
// ---------------------------------
table {
  border-collapse: collapse;
  border: $border;
  margin-bottom: $base-font-size * 1;
  margin-top: $base-font-size * 2;
  padding: 0;
  table-layout: fixed;
  width: 100%;

  tr {
    border: 1px solid;
    padding: .35em;
    text-align: left;
  }

  th {
    padding: .35em;
  }

  td {
    padding: .625em;
  }

  thead {
    tr {
    }
    th {
    }
  }

  tbody {
    tr {
    }
    th {
    }
    td {
    }
    th, td {
    }
  }
}

// Horizontal Rule
// ---------------------------------
hr {
  border: {
    bottom: $border;
    left: none;
    right: none;
    top: none;
  }
}

// Decoration
// ---------------------------------
em {
}

strong {
  font-weight: 700;
}
