// Color
// ---------------------------------
$text: #444444;
$text-soft: #666666;
$text-link: #336699;
$text-link-hover: lighten($text-link, 20%);

$white: #FFFFFF;

$main-color:  #5EB954;
$main-accent: darken($main-color, 18.5%);
$main-soft:   lighten($main-color, 21%);
$main-exSoft: lighten($main-color, 42%);

$border: 1px solid #CCCCCC;


// Border Radius
// ---------------------------------
$border-radius: 3px;

// Base Font
// ---------------------------------
$base-font-size: 1rem;
$base-line-height: 1.8;

