=wrap_layout :layout do
  main.m-contents-main role="main"
    header.m-contents-main-header
      h2.m-contents-main-header-title
        = current_page.title
      .m-contents-main-header-meta
        time.m-contents-main-header-meta-time
          = current_page.date.strftime('%Y/%m/%d')

    - if article_eyecatch(current_page)
      figure.m-contents-main-eyecatch
        img src="#{article_eyecatch(current_page)}" alt="#{current_page.title}"

    .m-contents-main-body
      = yield

  - prev_page = prev_page()
  - next_page = next_page()
  - if next_page || prev_page
    .l-paginate
      .m-paginate
        - if next_page
          p.m-paginate-next
            = link_to next_page.title, "/#{next_page.path}"

        - if prev_page
          p.m-paginate-prev
            = link_to prev_page.title, "/#{prev_page.path}"
