<footer class="l-footer">
  <p class="m-footer-achive">
    <a href="/archive/">
      Archive
    </a>
  </p>

  <p class="m-footer-copyright">
    &copy; <%= Date.today.strftime('%Y') %> - <%= link_to 'cabbagekobe', 'https://twitter.com/cabbagekobe' %>
  </p>
</footer>
