footer.l-footer
  p.m-footer-achive
    a href="/archive/"
      | Archive

  p.m-footer-copyright
    | &copy; #{Date.today.strftime('%Y')} - #{link_to 'cabbagekobe', 'https://twitter.com/cabbagekobe'}
