.l-header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: ($clumnWidth * 12) + ($clumnGap * 13);
  padding-left: $clumnGap;
  padding-right: $clumnGap;

  .m-header-title {
    border-bottom: $border;
    padding-bottom: 0.5rem;
  }
}
