.l-paginate {
  padding-left: $clumnGap;
  padding-right: $clumnGap;
}

.m-paginate {
  border-top: $border;
  display: table;
  margin-left: auto;
  margin-right: auto;
  max-width: (($clumnWidth * 8) + ($clumnGap * 7));
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;

  &-next {
    display: table-cell;
    padding-right: 2%;
    text-align: left;

    &:before {
      content: "←NEWER";
      display: block;
      font-size: $base-font-size * .5;
    }
  }

  &-prev {
    display: table-cell;
    padding-left: 2%;
    text-align: right;

    &:before {
      content: "OLDER→";
      display: block;
      font-size: $base-font-size * .5;
    }
  }
}
