// =========================================================
//     Base
// =========================================================
* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: 'AppleSystem', sans-serif;
  font-size: calc(16px + 0.24vw);
  height: 100%;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
  width: 100%;
  word-wrap: break-word;
}

body {
  color: $text;
  margin: 0;
  word-break: break-all;
}

b, strong {
  font-weight: bold;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
  color: $text-link;
  text-decoration: underline;

  &:hover {
    color: $text-link-hover;
    text-decoration: underline;
  }

  &:focus {
  }

  &:active {
  }

  &:visited {
  }
}

::selection {
}

ul, ol {
  letter-spacing: -0.4em;

  li {
    letter-spacing: normal;
  }
}
