---
pageable: true
per_page: 1
---

- page_articles.each_with_index do |article, i|
  main.m-contents-main role="main"
    header.m-contents-main-header
      h2.m-contents-main-header-title
        = link_to article.title, article
      .m-contents-main-header-meta
        time.m-contents-main-header-meta-time
          = article.date.strftime('%Y/%m/%d')

    - if article_eyecatch(article)
      figure.m-contents-main-eyecatch
        img src="#{article_eyecatch(article)}" alt="#{article.title}"

    .m-contents-main-body
      = article.body

- if blog.articles[1]
  .l-paginate
    .m-paginate
      p.m-paginate-prev
        = link_to blog.articles[1].title, blog.articles[1]
